
 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


 * {
     /* outline: 1px dashed red; */
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 html,
 body {
     height: 100%;
     font-family: Quicksand, 'sans-serif';
 }

 .page-content {
     height: 100%;
 }
